body, html {
    height: 100%;
    margin: 0;
    font-family: Google Sans, arial, sans-serif;

    block-size: 100%;
    scroll-snap-type: y mandatory;
}

navbar {

    position: fixed;
    top: 0;
    width: 75%;
    left: 12.5%;

    background-color: white;

    display: flex;
    justify-content: center;
    padding: 2vh 0;

    border-bottom: #aaa 2px solid;

    z-index: 100;

}

container {

    text-align: center;

    margin: auto;

    white-space: nowrap;
    text-align: center;

}

container > div {

    margin: auto;

    min-height: 100vh;

    scroll-snap-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

#aboutContainer {
    display: inline-block;
    text-align: start;
}

#aboutContainer * {
    display: block;
}

#name {
    margin: 0px;
    line-height: 36px;
    font-size: 36px;
    vertical-align: top;
}

#pronunciation {
    font-size: 14px;
    line-height: 16px;
    color: #70757a;
    padding-top: 10px;
}

#pronunciation::before, #pronunciation::after {
    content: '/';
    padding: 0 3px;
}

#description {
    font-size: 14px;
    padding-top: 10px;
}

#similar {
    font-size: 13px;
    margin-top: 6px;
    margin-right: 8px;
}


div#linkContainer a {
    color: black;
    text-decoration: none;

    opacity: 0.5;
    display: flex;
    margin: auto;
    
    justify-content: center;
}

div#linkContainer > a:hover, div#linkContainer > a:active {
    opacity: 1;
}

div#linkContainer * {
    align-self: center;
    padding: 6px;
}

div#linkContainer img {
    width: 33px;
}

/* custom elements */

a.withIcon {
    color: black;
    text-decoration: none;

    opacity: 0.5;
    display: flex;
    margin: auto;
    
    justify-content: center;
}

a.withIcon:hover, a.withIcon:active, a.withIcon.selected {
    opacity: 1;
}

a.withIcon * {
    align-self: center;
}

a.withIcon img {
    width: 33px;
    padding: 5px;
}